/* Inserindo conteúdo de configuração global*/

*{ /*Resetando o CSS, utilizando o seletor global*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Permite fazer os cálculos da caixa de borda a borda*/
}

/*Variáveis do CSS*/
:root{
 --brand-color-light: #60A5FA;
 --brand-color-dark: #1D4ED8;
 --bg-color: #0F172A;
 --stroke-color:#1E293B;
 --text-color-primary: #F1F5F9;
 --text-color-secondary:#CBD5E1;

 /*Variavel de fonte*/
 --font-family: "Archivo", sans-serif; 
 --h1: 800 24px/135% var(--font-family); /*Peso de 800*/
 --h2: 800 16px/140% var(--font-family);
 --h3: 800 14px/140% var(--font-family);
 --text-span: 600 14px/145% var(--font-family);
 --text: 400 16px/140% var(--font-family);
 --text-smol: 400 14px/160% var(--font-family);
}

body{
  font: var(--text); /*Aplicando a fonte*/
  color: var(--text-color-primary); /*Cor da fonte do texto*/
  background-color: var(--bg-color); /*Cor de fundo da página*/
}

a{
  text-decoration: none;/*Retirando o sublinhado do link*/
  color: inherit;/*Herdando a cor que está no body*/
}

a:hover{ /*Quando passar a mão em cima do link vai mudar a cor*/
  color: var(--brand-color-light);
}

h1, h2, h3 { /*Essas tags são filhas do body e vão herdar do body as configurações de fonte que foi aplicado no body, ou seja, não quero as fontes padrão do navegador e mantenha as fontes herdadas*/
  font: inherit;
}