section header{ /*Todo section que ter um header dentro vai receber as conf abaixo*/
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px; /* espaçamento no eixo vertical,12px em cima e 24px em baixo*/
  font: var(--text-span);

  a{
    justify-self: end; /*"Ver tudo" vai ser movido para a direita*/
    align-items: center; /*Alinhando*/
    gap: 8px;

    span{/*Criando a seta*/
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 16px; /*largura da seta*/
      height: 16px;/*Altura da seta*/
    }

    &:hover span {/*Quando passar o mouse sobre a seta, vai ter outra imagem*/
      background-image: url(../assets/icons/ArrowRight-hover.svg) ;
    }
  }
}

#featured{ /*Preciso observer todas imagens que estão dentro do featured*/
  img {
    height: 100%; /*Altura de 100% vai deixar a imagem cobrindo o espaço que falta*/
    object-fit:cover; /*Faz a ft realizar a cobertura de todo espaço sobrando*/

  }


  .card {
    border-radius: 4px; /*Arredondar as bordas das imagens*/
    overflow: hidden;/*Transbordamos, ou seja, esconda tudo que passa da caixa*/
    position: relative;
    
    &::before{
      content:"";
      position: absolute;
      inset: 0;
      top: 50%;/*Degradê vai iniciar a partir do meio*/
      background: linear-gradient(
        180deg,  /*Angulação que eu quero*/
        transparent 0%,  /*Primeira cor será a transparent saindo do 0%*/
        #020617 100% /*Cor que eu quero*/
      );
    }

    figcaption{
      position: absolute;
      bottom: 0;
      padding: 24px; /*Espaçamento de 24px*/

      &:has(.text-lg) { /*has é um tipo de seletor que vai observar se tem dentro do "figcaption" tem uma tag com o "text-lg", se tiver será aplicado esse padding de 12px*/
        padding: 12px;
      }

      h2{
        margin-top: 8px;
      }

    }

  }
}

#weekly{ /*Semanalmente*/

  &>div{/*Primeiro nível de div*/
    grid-template-columns: repeat(4, 292px) ; /*Quero 4 colunas de imagem de largura 292px*/
  }

  img{
    height: 160px; /*Altura da imagem*/
  }

  figure {
    position: relative;

    .content-tag{
      position: absolute;
      top: 8px; /*Afastando do topo*/
      left: 8px; /*Afastando da esquerda*/
    }

    p{
      margin-top: 8px;
      font-weight: 800; /*Peso da fonte*/
    }
  }
  
}