/*Utility-first é quando tem uma classe que vai fazer somente uma coisa*/
.grid{
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column; /*Deixando as linhas em colunas do header*/
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr; /*O destaque terá duas colunas com 4 fts no total*/
}

.gap-16 {
  gap: 16px; /*Espaçamento nas imagens do destaque*/
}

.gap-32{
  gap:32px; /*Espaçamento nas imagens do */
}
.text-2xl{ /*Texto duas vezes extra grande*/
  font: var(--h1);
}

.text-xl{ /*Texto extra grande*/
  font: var(--h2);
}

.text-lg{ /*Texto grande*/
  font: var(--h3);
}

.text-sm{ /*Texto small*/
  font: var(--text-sm);
}